<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Patient_clinic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="MyConnetion" connectionString="Data Source=kh-e0211;Initial Catalog=Health_clinic;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Patient_clinic.Properties.Settings.Health_clinicConnectionString" connectionString="Data Source=kh-e0401;Initial Catalog=Health_clinic;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <Patient_clinic.Properties.Settings>
      <setting name="تست" serializeAs="String">
        <value>tabControl1</value>
      </setting>
    </Patient_clinic.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.13.0.0" newVersion="2.13.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<appSettings>
	<add key="TelerikWinFormsThemeName" value="Fluent" /></appSettings></configuration>